.git
.idea
.vscode

backend/.env
backend/.env.local
backend/.env.staging
backend/.env.production
frontend/.env.local
frontend/.env.staging
frontend/.env.production

backend/vendor
frontend/node_modules
frontend/dist
node_modules
dist

backend/storage
backups
*.log
Thumbs.db
.DS_Store
